/* Nút bấm ở màn hình chào mừng */
.button-welcome {
    -fx-background-color: #70E0BB;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman"; /* Nên đồng bộ font với hệ thống của bạn */
    -fx-font-size: 15px;
    -fx-background-radius: 5; /* Trong JavaFX nên bỏ chữ 'px', chỉ để số */
    -fx-cursor: hand; /* Thêm hiệu ứng bàn tay khi di chuột vào nút */
}

/* Hiệu ứng khi di chuột vào nút */
.button-welcome:hover {
    -fx-background-color: #34DBAE;
}

/* Thiết lập ảnh nền cho màn hình mở đầu */
.nen-anh-full {
    -fx-background-image: url("../images/anen1.jpg");
    -fx-background-size: cover; /* 'cover' giúp ảnh tự tỷ lệ cân đối mà không bị méo khi kéo giãn màn hình */
    -fx-background-position: center center; /* Giữ tâm ảnh luôn ở giữa màn hình */
    -fx-background-repeat: no-repeat;
}