.button-welcome {
    -fx-background-color: #70e0bb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px; /* Bo góc nút */
}

/* Hiệu ứng khi di chuột vào */
.button-welcome:hover {
    -fx-background-color: #34dbae;
}
/* Thiết lập ảnh nền cho màn hình mở đầu */
.nen-anh-full {
    -fx-background-image: url("../images/anen1.jpg"); /* Tên file ảnh nền của bạn */
    -fx-background-size: 100% 100%; /* Ép ảnh giãn ra lấp đầy 100% chiều ngang và dọc */
    -fx-background-repeat: no-repeat;
}